<div class="activities ">
	<div class="container">
		<div class="list">
			<ul style="height:80px;">
				<li class="one-img">
					<div class="app">
						<ul>
							<li>
								<dl>
									<a href="/mobile/category.php">
									<dt><img src="/mobile/images/catimg/categorys.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>商品分类</dd>
								</dl>
							</li>
							<li>
								<dl>
									<a href="/mobile/cart.php">
									<dt><img src="/mobile/images/catimg/band.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>购物车</dd>
								</dl>
							</li>
							<li>
								<dl>
									<a href="/mobile/user.php?act=user_center">
									<dt><img src="/mobile/images/catimg/myhome.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>用户中心</dd>
								</dl>
							</li>
							<li>
								<dl>
									<a href="/mobile/kefu.php">
									<dt><img src="/mobile/images/catimg/recharge.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>客户服务</dd>
								</dl>
							</li>
							
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>