<li>
	<div class="mc">
		<div class="t-lists">
			<%@products.each do |product|%>
				<%=link_to [:mobile,product] do%>
					<div class="box">
						<table cellspacing="0" cellpadding="0" class="tab" width="95%" >
							<tbody>
								<tr>
									<td class="p-img" style="float:none;" width="105px"><%=image_tag product.good.icon%></td>
									<td  valign="top" class="text"><div class="p-name" style="color: #3C3C3C;font-size: 0.875em;" ><%=product.name%><font color="red"></font> </div>
										<div class="p-detail" style="width:180px; float:right"><span style="float:left">价格： <font color="red" style="font-family:Arial;font-weight:bold"> <%=number_to_currency(product.price,:unit=>"&yen")%></font> <span></div></td>
								</tr>
							</tbody>
						</table>
					</div>

				<%end%>
			<%end%> 
		</div>
	</div>
</li>