<br/>

<div class="row-fluid">
	<div class="span12 " style="height:280px">
		<ul class="nav nav-list">

			<li class="nav-header">团购</li>
		  <li>双“蛋”活动</li>
			<br/>
			
			<br/>
			
			<li class="divider"></li>

			<li class="nav-header">活动</li>
			<li>自即日起至2014年12月31日24:00之前.如总销售额超过2万元，则凡通过微信或网页下单并实际购买的同学皆有机会抽得ipad mini（16G WLAN版）。参加活动的最新人数与销售额，可通过微信回复关键字进行查询。</li>
			
			<!--li class="divider"></li>
			<li class="nav-header">微信服务号</li>
			
			<li>
			
			<div class="article" style="margin-top:0px">
				<img src="images/qrcode.jpg" align="right" style="margin-left:5px;">
				<p>您可以通过搜索"上理果园",或者拿起手机扫一下右边的二维码，添加我们的微信服务号。</p>
			</div>
			</li-->
		</ul>

	</div>
</div>

<!--
		<li class="divider"></li>
		<li class="nav-header">Top 3 best selling</li>
		<li><a href="#">Product D</a></li>
		<li><a href="#">Product E</a></li>
		<li><a href="#">Product F</a></li>

-->