<%if @shopping_items.size>0%>


<table class="table">
	<thead>
		<tr>
			<th>客户名称</th>
			<th>购买时间</th>
			<th>购买件数</th>
		</tr>
	</thead>
	<% @shopping_items.each do |item|%>
		<tr>
			<td><%=item.shopping.customer_name if item.shopping%></td>
			<td><%=I18n.localize(item.created_at,:format=>:long)%></td>
			<td><%=item.count%></td>
		</tr>
		<%end%>
</table>

<%else%>
<p>暂无购买记录</p>
<%end%>


