	<hr/>
	
	<div class="footer">
		<div class="row-fluid print-hide">

			<div class="span3">
				<ul class="unstyled">
					<li class="footer-title"><a href="/about">关于我们</a></li>
				</ul>
			</div>

		
			<div class="span3">
				<ul class="unstyled">
					<li class="footer-title"><a href="#">送货时间</a></li>
				</ul>
			
			</div>
		</div>

	</div>