<div class="row-fluid">
	<div class="span8">

		<!--div class="row-fluid">
			<div class="span9">
				<h2>Special selection</h2>
			</div>
			<div class="span3">
				<div class="social-icons pull-right">
					<a href="#"><img src="img/icon-facebook.png" alt="facebook"></a>
					<a href="#"><img src="img/icon-twitter.png" alt="twitter"></a>
					<a href="#"><img src="img/icon-linkedin.png" alt="linkedin"></a>
					<a href="#"><img src="img/icon-rss.png" alt="rss"></a>
				</div>
			</div>
		</div -->
		<div class="row-fluid">
			
			<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推荐
			</h4>
			<%= render_cell :products, :recommend %>

<!--
		<div class="row-fluid">
			<div class="span6">
				<div class="article">
					<img src="images/weixin.jpg" align="right">
					<h4>用微信一样可以下单</h4>
					<h5>上理果园微信订购</h5>
					<p>想吃水果但身边没有电脑？没有问题，打开手机添加"上理果园"微信服务一样可以轻松下单。当然也欢迎和我们的小伙伴们聊聊天。</p>
				</div>
			</div>
		</div>
-->

</div>

<div class="row-fluid">

	<div class="offset4 span8">
		<%= search_form_for @q ,:class=>"form-search" do |f| %>
			  <div class="input-prepend input-append">
					<span class="add-on">水果名称</span>
				  <%= f.text_field :name_cont,:class=>" input-xxlarge" ,:placeholder=>"输入想要的水果，如果没有请给我们留言"%>
			    <button type="submit" class="btn">搜索</button>
			  </div>
		<% end %>
	</div>
</div>
</div>
	<div class="span4">

		<br>
		<%= render_cell :products, :top10 %>


<!--
		<div class="row-fluid">
			<div class="span12">
				<div class="slider-wrapper theme-light">
					<div class="ribbon"></div>
					<div id="slider2" class="nivoslider">
						<img src="img/banner_01.jpg" alt="" title="This is an example of an optional long caption text" />
						<img src="img/banner_02.jpg" alt="" title="" />
						<img src="img/banner_03.jpg" alt="" title="" />
						<img src="img/banner_04.jpg" alt="" title="Another caption" />
					</div>
				</div>
				<br>
			</div>
		</div>
-->
	</div>
</div>