<div class="row-fluid">
	<h1>
		OUR TEAM <small>Sail our dream @2013-11-11</small>
	</h1>
	<div class="span12">
			<h2>PAN Xing Yu<small>Co-Funder/Marketing</small></h2>
	</div>
	<div class="span12">
		<h2>PAN Chen Liang<small>Co-Funder/Technology</small></h2>
	</div>
	<div class="span12">
		<h2>LI Jian<small>Partner</small></h2>
	</div>
	<div class="span12">
		<h2>Peng Jian<small>Partner</small></h2>
	</div>
	<div class="span12">
		<h2>Wang Xi Peng<small>Partner</small></h2>
	</div>
</div>