<div class="row-fluid">
	<div class="span12">
		<div class="slider-wrapper theme-bar">
			<div class="ribbon"></div>
			<div id="slider1" class="nivoslider">
				<a href="#"><img src="/images/banner.jpg" alt="" title="上理果园为您提供安心、便利、平价的新鲜水果。"></a>
				<a href="#"><img src="/images/banner1.jpg" alt="" title=""></a>
			</div>
		</div>
	</div>
</div>

	


<%= render "shared/shop_top_recommend"%>

<%= render_cell :products, :all %>