<div>
	<p>共有 <%=photos.size%> 张配图</p>
	<table class="table" id="photos">
		<thead>
			<tr>
				<th>图片</th>
				<th>微信配图</th>
				<th>上传时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<%=render :partial=>'photos/photo',:collection=>photos%>
		</tbody>
	</table>
</div>