<div class="row">
	<div class="btn-group  pull-right">
	  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
	    操作
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
			<li><%=link_to "新建",new_list_admin_products_path%>
			</li>

	  </ul>
	</div>
</div>

<div class="widget stacked ">
	<div class="widget-header">
 		<i class="icon-user"></i>
 		<h3>商品分类列表-<%= current_city.name if current_city%></h3>
	</div> <!-- /widget-header -->		
		<div class="widget-content">
		<%=render 'grid'%>
		</div>
</div>
