<%= content_for :title do %>
	用户列表
<% end %>
<div class='box bordered-box blue-border'>
	<div class='box-header fb-background'>
	    <div class='title'>用户列表</div>
	    <div class='actions'>

	    </div>
	</div>
	<div class='box-content box-no-padding'>
		<%=render 'grid'%>
	</div>
</div>

