<%= content_for :title do %>
	总库商品列表
<% end %>

<%=render 'search_form'%>
<div class='box bordered-box blue-border'>
	<div class='box-header fb-background'>
	    <div class='title'>总库商品列表</div>
	    <div class='actions'>
				<%=link_to new_admin_good_path ,:class=>"btn  btn-mini btn-link" do%>
					<i class='icon-plus'></i>
				<%end%>
	    </div>
	</div>
	<div class='box-content box-no-padding'>
		<%=render 'grid'%>
	</div>
</div>

